#root {
  min-width: 1000px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview,#editor {
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 0;
}

#editor{
  margin: 0 200px;
  margin-bottom: 20px;
  padding: 10px;
}

.preview-heading{
  background-color: black;
  color: white;
  text-align: center;
}

.editor-heading{
  text-align: center;
  background-color: black;
  color: white;
}